<div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Image</th>
		      <th scope="col">Recipe Name</th>
		      <th scope="col">Rate</th>
		      <th scope="col">Budget</th>
		      <th scope="col">People Quantity</th>
		      <th scope="col">Author</th>
		    </tr>
		  </thead>
		  <tbody>
				<% @recipes.each do |recipe|%>
					<tr>
						<th scope="row"><%= link_to recipe.id, recipe_path(recipe.id) %></th>
						<td class="w-25">
						<% if recipe.image_url.present? %>
								<img src= <%= recipe.image_url %> class="img-fluid img-thumbnail" >
						<% else %>
							No image available
						<% end %>
						</td>
						<td> <%= recipe.name %></td>
						<td> <%= recipe.rate %></td>
						<td> <%= recipe.budget %></td>
						<td> <%= recipe.people_quantity %></td>
						<td> <%= recipe.author.name %></td>
					</tr>
				<% end %>
		  </tbody>
		</table>   
    </div>
  </div>
</div>

<%= paginate @recipes %>