<div class="search_block">
    <button onclick="add()">Add ingredient</button>
    <button onclick="remove()">Remove ingredient</button>

    <%= form_for :recipe, url: { action: :search }, method: :get, html: { id: "recipes_form" } do |f| %>
        <%= f.number_field "people_quantity", step: 1, min: 0, placeholder: "People Quantity" %>
        <div id = "ingredients_lists">
            <div>
                <%= f.text_field :name, class: "ingredient_name", placeholder: "Ingredient name"%>
                <select name='recipe[ingredients][]'></select>
            </div>
        </div>
        <%= f.submit "Search for a recipe"%>
    <% end %>
</div>

<script>

    function add() {
        var new_input = `<input class='ingredient_name'>`;
        var new_select = "<select name='recipe[ingredients][]'></select>"
        $("#ingredients_lists").append(`<div> ${new_input} ${new_select} </div>`);
    }

    function remove() {
        $('#ingredients_lists div:last-child').remove()
    }

    function loadSelects(input_el) {
        const ingredient_name = input_el.value;
        const select_el = input_el.nextElementSibling;

        $.ajax({
            url: "/api/v1/ingredients",
            type: "GET",
            dataType: "json",
            data: {
                "name": ingredient_name
            },
            contentType: "application/json",
        }).then(function (options) {
            options.map(function (option) {
                var opt = document.createElement('option');
                opt.value = option[0];
                opt.innerHTML = option[1];
                select_el.appendChild(opt);
            });
        });
    }

    $('#ingredients_lists').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            loadSelects(e.target);
            return false;
        }
    });

    $('#recipes_form').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
</script>        