<p style="font-size: -webkit-xxx-large;"><%= @recipe.name %></p>

<% if @recipe.image_url.present? %>
    <img src= <%= @recipe.image_url %> class="img-fluid img-thumbnail" >
<% else %>
  No image available
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Ingredients</th>
		    </tr>
		  </thead>
		  <tbody>
				<% @ingredients_names.each do |name|%>
					<tr>
						<td> <%= name %></td>
					</tr>
				<% end %>
		  </tbody>
		</table>   
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Tags</th>
		    </tr>
		  </thead>
		  <tbody>
				<% @tags_names.each do |name|%>
					<tr>
						<td> <%= name %></td>
					</tr>
				<% end %>
		  </tbody>
		</table>   
    </div>
  </div>
</div>